*{
    margin: 0;
    padding: 0;
}
body{
    
    box-sizing: border-box;
}

header{
    display: flex;
    align-items: center;
    position: absolute;
    z-index: 10;
    top: 0;
}
header>*{
    padding: 10px;
}

.PikachuPosistion{
    display: flex;
    justify-content: center;
}
.pikachu{
    
    position: absolute;
    bottom: 10%;
    width: 180px;
}
main{
    position: relative;
    top: 0;
    background:url("background.jpg") no-repeat;
    width: 100%;
    background-size: 100%;
    height: 100vh;
    background-size: 100% 100%;
    background-position: center;
    
}
.lighting{
    display: none;
    position: absolute;
    z-index: 1;
    top:-100px;
    background:url("lighting.png")no-repeat;
    background-position: center;
    width: 20vh;
    height: 15%;
    
    
    background-size: 100% 100%;
  
    
}
.bomb{
    display: none;
    position: absolute;
    z-index: 1;
    top:-100px;
    background:url("bomb.png")no-repeat;
    background-position: center;
    width: 10vh;
    height: 15%;
    background-position: center;
    background-size: 100% 100%;
}


.pokeball{
    display: none;
    position: absolute;
    z-index: 1;
    top:-100px;
    background:url("pokeball.png")no-repeat;
    background-position: center;
    width: 10vh;
    height: 15%;
    background-size: 100% 100%;
}
.berry{
    display: none;
    position: absolute;
    z-index: 1;
    top:-100px;
    background:url("berry.png")no-repeat;
    background-position: center;
    width: 10vh;
    height: 15%;
    background-position: center;
    background-size: 100% 100%;
}
.mew{
    display: none;
    position: absolute;
    z-index: 1;
    top:-100px;
    background:url("mew.png")no-repeat;
    background-position: center;
    width: 10vh;
    height: 15%;
    background-position: center;
    background-size: 100% 100%;
}
.points{
    
    font-size: 2em;
    color: yellow;
    text-shadow: 2px 2px 8px #FF0000;
}
.Ppoints{
    color: yellow;
    text-shadow: 2px 2px 8px #FF0000;
}
.Lose{
    display: flex;
    justify-content: center;
    height: 100vh;
}
.LoseInformation{
    z-index: 1;
    position: absolute;
    top: 40%;
    font-size:5em;
    color: yellow;
    text-shadow: 2px 2px 8px #FF0000;
}
.OneMoreTime{
    bottom: 40%;
    position: absolute;
    width: 100%;
    display: none;
}
.buttonPossition{
    display: flex;
    justify-content: center;
    align-items: center;

}
.buttonPlay{
    z-index: 1;
    background-color: transparent;
    border: none;
    font-size: 3em;
    color: yellow;
    text-shadow: 2px 2px 8px #FF0000;
    outline: none;
    cursor: grab;
}
.timer{
    
    width: 92%;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: flex-end;
}
.time{
    font-size: 3em;
    color: yellow;
    text-shadow: 2px 2px 8px #FF0000;
}
iframe{
    position: absolute;
    top: 0;
}
.volume{
    width: 98%;
    position: absolute;
    top: 10px;
    display: flex;
    justify-content: flex-end;
   
}
.unmute{
    /* background: url("volume.png" ) no-repeat; */
    /* background-size: cover;
    width: 50px;
    height: 50px; */
    
}
.mute{
    background: url("mute.png" ) no-repeat;
    background-size: cover;
    width: 50px;
    height: 50px;
     
}
.username{
    font-size: 1em;
     text-shadow: 3px 3px 10px #FF0000;
    color: #FF0000;
    outline: none;
    width: 150px;
    height: 25px;
    background-color: transparent;
    border:4px solid yellow;
    
}
.submit{
    margin: 20px;
    background-color: transparent;
    font-size: 1.5em;
    outline: none;
    height: 10vh;
    width: 10vh;
    color: #FF0000;
    text-shadow: 3px 3px 10px #FF0000;
    background-color: yellow;
    border: 2px solid;
    outline: none;
    border-radius: 50%;
}
form{
    display: none;
    z-index: 1;
    right: 40%;
    position: absolute;
    top: 28%;
}
.Rank2{
    color: #FF0000;
    text-shadow: 3px 3px 10px #FF0000;
    font-size: 1.2em;
    
}
.Rank1{
    color: #FF0000;
    text-shadow: 3px 3px 10px #FF0000;
    
    font-size: 1.2em;
    
} 
.Rank3{
    color: #FF0000;
    text-shadow: 3px 3px 10px #FF0000;
    font-size: 1.2em;
}
.rank{
    display: none;

}

.places{
 
    position:absolute;
    top:10%;
    width: 100%;
    height: 10%;
    
    
    display: flex;
    justify-content: space-around;
}
.all{
    display: none;
}
.start{
    background:url("back.jpg") no-repeat;
    background-size: cover;
    
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.startbutton{
    font-size: 3em;
    color: #FF0000;
    text-shadow: 3px 3px 10px #FF0000;
    background-color: transparent;
    border:none;
    outline: none;
    cursor: grab;
}
.pause{
    color: yellow;
    text-shadow: 3px 3px 10px #FF0000;
    width: 100vw;
    display: flex;
    justify-content: center;
}
.pauseInfo{
    display: none;
    font-size: 2em;
    z-index: 2;
    position: absolute;
    top: 1%;
}
.pointsInformation{
    display: none;
        font-size: 3em;
        color: yellow;
        text-shadow: 3px 3px 10px #FF0000;
        position: absolute;
        top: 20%;
}
